{% if show is not defined %}
    {% set show = false %}
{% endif %}

{% if show and is_granted('ROLE_APPLICATION_SHOW') %}
    <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_application_show', {application: application.id}) }}" role="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </a>

{% endif %}

{% if APPLICATION_can_edit(application) %}
    <a title="{{ 'trans.action.edit' | trans }}" class="btn btn-info" href="{{ path('ci_app_application_edit', {application: application.id}) }}" role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>

{% endif %}

{% if APPLICATION_can_deploy(application) %}
    <a title="{{ 'trans.action.deploy' | trans }}" class="btn btn-primary" href="{{ path('ci_app_application_deploy', {application: application.id}) }}" role="button">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_SERVER_CREATE') %}
    <a title="{{ 'trans.action.add_server' | trans }}" class="btn btn-success" href="{{ path('ci_app_server_create', {application: application.id}) }}" role="button">
        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_APPLICATION_DELETE') %}
    <a onclick="return confirm('{{ 'trans.message.are.you.sure.delete' | trans}}');" title="{{ 'trans.action.delete.application' | trans }}" class="btn btn-danger" href="{{ path('ci_app_application_delete', {application: application.id}) }}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>

{% endif %}
