{% extends 'CIAppBundle::Default/crud/create.html.twig' %}

{% block title %}{{ 'trans.menu.application' | trans }}{% endblock %}

{% set form_action = path('ci_app_application_edit', {application: application.id}) %}
{% set back = path('ci_app_application_index') %}

{% block form_left %}
    <h2><span class="glyphicon glyphicon-th-list"></span> {{ 'trans.title.properties' | trans }}</h2>
    {{ form_row(form.name) }}

{% endblock %}

{% block form_right %}
    {% include 'CIAppBundle::Application/form.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% include 'CIAppBundle::Application/form.javascript.html.twig' %}

{% endblock %}