<div class="row">
    <div class="col-xs-6">
        {% include 'CIAppBundle::Application/form.parameters.html.twig' %}
    </div>

    <div class="col-xs-6">
        {% include 'CIAppBundle::Application/form.uploads.html.twig' %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% include 'CIAppBundle::Application/form.hooks.html.twig' %}
    </div>
</div>