{% javascripts '@CIAppBundle/Resources/public/js/collection.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script type="text/javascript">
    $(function() {
        var upload = new Collection();
        upload.holder = $('#upload');
        upload.childTemplate = $('#ci_appbundle_application_applicationUpload').attr('data-prototype');
        upload.load();

        $('#add-upload').click(function(e) {
            upload.createEmptyChild();
        });

        var hook = new Collection();
        hook.holder = $('#hook');
        hook.childTemplate = $('#ci_appbundle_application_applicationHook').attr('data-prototype');
        hook.load();

        $('#add-hook').click(function(e) {
            hook.createEmptyChild();
        });

        updateIndex = function(e, ui) {
            $('td.position', ui.item.parent()).each(function (i) {
                $(this).find('input').val(i + 1);
            });
        };

        $(".sort tbody").sortable({
            stop: updateIndex,
            delay: 150
        }).enableSelection();
    });

</script>
