<h2><span class="glyphicon glyphicon-cog"></span> {{ 'trans.title.parameters' | trans }}</h2>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'trans.entity.parameter' | trans }}</th>
            <th>{{ 'trans.entity.value' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for config in form.applicationConfig %}
            <tr>
                <td>
                    {{ form_widget(config.configType) }}
                    {{ form_errors(config.configType) }}
                </td>
                <td>
                    {{ form_widget(config.value) }}
                    {{ form_errors(config.value) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
