{% block form_row %}
    <tr>
        <td>
            {{ form_widget(form.targetPath) }}
            {{ form_errors(form.targetPath) }}
        </td>
        <td>
            {{ form_widget(form.value) }}
            {{ form_errors(form.value) }}
        </td>
        <td>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>

{% endblock form_row %}

