{% extends 'CIAppBundle::Default/crud/index.html.twig' %}

{% block title %}{{ 'trans.menu.application' | trans }}{% endblock %}

{% block action %}
    {% if is_granted('ROLE_APPLICATION_CREATE') %}
        <p>
            <a title="{{ 'trans.action.add' | trans }}" href="{{ path('ci_app_application_create') }}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </p>

        <br />

    {% endif %}

{% endblock %}


{% block thead %}
    <th>ID</th>
    <th>{{ "trans.entity.name" | trans }}</th>
    <th>{{ "trans.entity.status" | trans }}</th>
    <th>{{ "trans.entity.createdBy" | trans }}</th>
    <th>{{ "trans.entity.updatedBy" | trans }}</th>
    <th></th>

{% endblock %}

{% block tbody %}
    {% for application in pagination.result %}
        <tr>
            <td>{{ application.id }}</td>
            <td>{{ application.name }}</td>
            <td>{{ APPLICATION_status_label(application) }}</td>
            <td>{{ application.createdBy }} ({{ application.createdAt | date('d/m/Y H:i:s') }})</td>
            <td>{{ application.updatedBy }} ({{ application.updatedAt | date('d/m/Y H:i:s') }})</td>
            <td>
                {% include 'CIAppBundle::Application/actions.html.twig' with {show: true} %}
            </td>
        </tr>

    {% endfor %}

{% endblock %}