<h2><span class="glyphicon glyphicon-paperclip"></span> {{ 'trans.title.hook' | trans }}</h2>

{% if application.applicationHook | length %}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>{{ "trans.entity.hookPositionType" | trans }}</th>
                <th>{{ "trans.entity.hookType" | trans }}</th>
                <th>{{ "trans.entity.code" | trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for applicationHook in application.applicationHook %}
                <tr>
                    <td>{{ applicationHook.hookPositionType }}</td>
                    <td>{{ applicationHook.hookType }}</td>
                    <td>
                        {% if is_granted('ROLE_HOOK_SHOW') %}
                            <a class="btn btn-success" href="{{ path('ci_app_hook_show', {hook: applicationHook.hook.id}) }}" role="button" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                {{ applicationHook.hook }}
                            </a>

                        {% else %}
                            {{ applicationHook.hook }}

                        {% endif %}
                    </td>
                </tr>

            {% endfor %}

        </tbody>
    </table>

{% else %}
    {{ MESSAGE_single('info', 'trans.message.hook.list.empty') }}

{% endif %}