{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% set back = path('ci_app_application_show', {application: applicationUpload.application.id}) %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-upload"></span> {{ 'trans.title.upload' | trans }}</h2>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td><b>{{ 'trans.entity.application' | trans }}</b></td>
                <td>{{ applicationUpload.application }}</td>
            </tr>

            <tr>
                <td width="110px"><b>{{ 'trans.entity.targetPath' | trans }}</b></td>
                <td>{{ applicationUpload.targetPath }}</td>
            </tr>

            <tr>
                <td><b>{{ 'trans.entity.value' | trans }}</b></td>
                <td><pre>{{ applicationUpload.value }}</pre></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
