<h2><span class="glyphicon glyphicon-upload"></span> {{ 'trans.title.upload' | trans }}</h2>

{% if application.applicationUpload | length %}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>{{ "trans.entity.targetPath" | trans }}</th>
                {% if is_granted('ROLE_APPLICATION_SHOW_UPLOAD') %}
                    <th>-</th>

                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for applicationUpload in application.applicationUpload %}
                <tr>
                    <td>{{ applicationUpload.targetPath }}</td>
                    {% if is_granted('ROLE_APPLICATION_SHOW_UPLOAD') %}
                        <td>
                            <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_application_show_upload', {applicationUpload: applicationUpload.id}) }}" role="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </a>
                        </td>

                    {% endif %}
                </tr>

            {% endfor %}

        </tbody>
    </table>

{% else %}
    {{ MESSAGE_single('info', 'trans.message.upload.list.empty') }}

{% endif %}