{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% set back = path('ci_app_application_index') %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-th-list"></span> {{ 'trans.title.properties' | trans }}</h2>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td width="110px"><b>{{ 'trans.entity.name' | trans }}</b></td>
                <td>{{ application.name }}</td>
            </tr>

            <tr>
                <td><b>{{ 'trans.entity.status' | trans }}</b></td>
                <td>{{ APPLICATION_status_label(application) }}</td>
            </tr>

            {% for config in application.applicationConfig %}
                <tr>
                    <td><b>{{ config.configType.name }}</b></td>
                    <td>{% if config.hidden %}~{% else %}{{ config.value }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'CIAppBundle::Application/show.server.html.twig' %}

{% endblock %}

{% block content_right %}
    {% include 'CIAppBundle::Application/show.upload.html.twig' %}

    {% include 'CIAppBundle::Application/show.hook.html.twig' %}

{% endblock %}

{% block actions %}
    <br />

    {% include 'CIAppBundle::Application/actions.html.twig' %}

{% endblock %}