<h2><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> {{ 'trans.menu.server' | trans }}</h2>

{% if application.server | length %}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>ID</th>
            <th>{{ "trans.entity.name" | trans }}</th>
            <th>{{ "trans.entity.status" | trans }}</th>
            {% if is_granted('ROLE_SERVER_SHOW') %}
                <th></th>

            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for server in application.server %}
            <tr>
                <td>{{ server.id }}</td>
                <td>{{ server }}</td>
                <td>{{ SERVER_status_label(server) }}</td>
                {% if is_granted('ROLE_SERVER_SHOW') %}
                    <td>
                        <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_server_show', {server: server.id}) }}" role="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </a>
                    </td>

                {% endif %}
            </tr>

        {% endfor %}

        </tbody>
    </table>

{% else %}
    {{ MESSAGE_single('info', 'trans.message.server.list.empty') }}

{% endif %}