{% extends 'CIAppBundle::base.html.twig' %}

{% block body %}
    <a href="{{ path('ci_app_application_index') }}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
        {{ "trans.menu.application" | trans }} <span class="badge">{{ count.application }}</span>
    </a>

    <a href="{{ path('ci_app_server_index') }}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
        {{ "trans.menu.server" | trans }} <span class="badge">{{ count.server }}</span>
    </a>

    <br />

    <h2>{{ "trans.last.history" | trans }}</h2>

    {% include 'CIAppBundle::History/list.html.twig' with {
        'historyList': last.history,
        'showServer': true,
        'showApplication': true
    } %}

{% endblock %}
