{% if show is not defined %}
    {% set show = false %}
{% endif %}

{% if show and is_granted('ROLE_SERVER_SHOW') %}
    <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_server_show', {server: server.id}) }}" role="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </a>

{% endif %}

{% if SERVER_can_edit(server) %}
    <a title="{{ 'trans.action.edit' | trans }}" class="btn btn-info" href="{{ path('ci_app_server_edit', {server: server.id}) }}" role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>

{% endif %}

{% if SERVER_can_deploy(server) %}
    <a title="{{ 'trans.action.deploy' | trans }}" class="btn btn-primary" href="{{ path('ci_app_server_deploy', {server: server.id}) }}" role="button">
        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_SERVER_DELETE') %}
    <a onclick="return confirm('{{ 'trans.message.are.you.sure.delete' | trans}}');" title="{{ 'trans.action.delete.server' | trans }}" class="btn btn-danger" href="{{ path('ci_app_server_delete', {server: server.id}) }}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>

{% endif %}

