{% extends 'CIAppBundle::Default/crud/create.html.twig' %}

{% block title %}{{ 'trans.menu.server' | trans }}{% endblock %}

{% set form_action = path('ci_app_server_edit', {server: server.id}) %}
{% set back = path('ci_app_server_index') %}

{% block form_left %}
    <h2><span class="glyphicon glyphicon-th-list"></span> {{ 'trans.title.properties' | trans }}</h2>

    {{ form_row(form.name) }}
    {{ form_row(form.application) }}

{% endblock %}

{% block form_right %}
    {% include 'CIAppBundle::Server/form.html.twig' %}

{% endblock %}

{% block javascripts %}
    {% include 'CIAppBundle::Server/form.javascript.html.twig' %}

{% endblock %}