<h2><span class="glyphicon glyphicon-cog"></span> {{ 'trans.title.parameters' | trans }}</h2>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>{{ 'trans.entity.parameter' | trans }}</th>
            <th>{{ 'trans.entity.value' | trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for config in form.serverConfig %}
            <tr>
                <td>
                    {{ form_widget(config.configType) }}
                    {{ form_errors(config.configType) }}
                </td>
                <td>
                    {{ form_widget(config.value) }}
                    <br />

                    {% set value = '' %}

                    {% if config.vars.data.server.application %}
                        {% set value = config.vars.data.server.application.applicationConfig(config.vars.data.configType.code) | trim %}
                    {% endif %}

                    <b>{{ "trans.title.default" | trans }}: </b>

                    {% if config.vars.data.hidden == false %}
                        {% if value %}
                            {{ value }}
                        {% else %}
                            ~
                        {% endif %}

                    {% else %}
                        {% if value %}
                            {{ "trans.title.set" | trans }}
                        {% else %}
                            {{ "trans.title.not_set" | trans }}

                        {% endif %}

                    {% endif %}

                    {{ form_errors(config.value) }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
