<h2>
    <span class="glyphicon glyphicon-upload"></span>
    {{ 'trans.title.upload' | trans }}
    <a href="#" onclick="return false;" class="btn btn-xs btn-info" id="add-upload">{{ 'trans.action.add' | trans }}</a>
</h2>

{% form_theme form.serverUpload 'CIAppBundle::Server/form.theme.upload.html.twig' %}

<table class="table table-striped table-bordered last">
    <thead>
        <tr>
            <th>{{ "trans.entity.targetPath" | trans }}</th>
            <th>{{ "trans.entity.value" | trans }}</th>
            <th>-</th>
        </tr>
    </thead>
    <tbody id="upload">
        {{ form_widget(form.serverUpload) }}
    </tbody>
</table>