<div class="row">
    <div class="col-xs-6">
        {% include 'CIAppBundle::Server/form.parameters.html.twig' %}
    </div>

    <div class="col-xs-6">
        {% include 'CIAppBundle::Server/form.uploads.html.twig' %}
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        {% include 'CIAppBundle::Server/form.hooks.html.twig' %}
    </div>
</div>