{% block form_row %}
    <tr>
        <td>
            {{ form_widget(form.hook) }}
            {{ form_errors(form.hook) }}
        </td>
        <td>
            {{ form_widget(form.hookPositionType) }}
            {{ form_errors(form.hookPositionType) }}
        </td>
        <td>
            {{ form_widget(form.hookType) }}
            {{ form_errors(form.hookType) }}
        </td>
        <td class="position hide">
            {{ form_widget(form.position) }}
            {{ form_errors(form.position) }}
        </td>
        <td>
            <a href="javascript:void(0);">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </td>
    </tr>

{% endblock form_row %}

