<h2>
    <span class="glyphicon glyphicon-paperclip"></span>
    {{ 'trans.title.hook' | trans }}
    <a href="#" onclick="return false;" class="btn btn-xs btn-info" id="add-hook">{{ 'trans.action.add' | trans }}</a>
</h2>
{% form_theme form.serverHook 'CIAppBundle::Server/form.theme.hook.html.twig' %}

<table class="table table-striped table-bordered last sort">
    <thead>
        <tr>
            <th>{{ "trans.entity.code" | trans }}</th>
            <th>{{ "trans.entity.hookPositionType" | trans }}</th>
            <th>{{ "trans.entity.hookType" | trans }}</th>
            <th class="hide"></th>
            <th>-</th>
        </tr>
    </thead>
    <tbody id="hook">
        {{ form_widget(form.serverHook) }}
    </tbody>
</table>