{% extends 'CIAppBundle::Default/crud/index.html.twig' %}

{% block title %}{{ 'trans.menu.server' | trans }}{% endblock %}

{% block action %}
    {% if is_granted('ROLE_SERVER_CREATE') %}
        <p>
            <a title="{{ 'trans.action.add' | trans }}" href="{{ path('ci_app_server_create') }}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </p>

        <br />

    {% endif %}

{% endblock %}


{% block thead %}
    <th>ID</th>
    <th>{{ "trans.entity.name" | trans }}</th>
    <th>{{ "trans.entity.application" | trans }}</th>
    <th>{{ "trans.entity.status" | trans }}</th>
    <th>{{ "trans.entity.createdBy" | trans }}</th>
    <th>{{ "trans.entity.updatedBy" | trans }}</th>
    <th></th>

{% endblock %}

{% block tbody %}
    {% for server in pagination.result %}
        <tr>
            <td>{{ server.id }}</td>
            <td>{{ server.name }}</td>
            <td>
                {% if is_granted('ROLE_APPLICATION_SHOW') %}
                    <a class="btn btn-success" href="{{ path('ci_app_application_show', {application: server.application.id}) }}" role="button">
                        <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                        {{ server.application }}
                    </a>

                {% else %}
                    {{ server.application }}

                {% endif %}
            </td>
            <td>{{ SERVER_status_label(server) }}</td>
            <td>{{ server.createdBy }} ({{ server.createdAt | date('d/m/Y H:i:s') }})</td>
            <td>{{ server.updatedBy }} ({{ server.updatedAt | date('d/m/Y H:i:s') }})</td>
            <td>
                {% include 'CIAppBundle::Server/actions.html.twig' with {show: true} %}
            </td>
        </tr>

    {% endfor %}

{% endblock %}