{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% set back = path('ci_app_server_index') %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-hdd" aria-hidden="true"></span> {{ 'trans.menu.server' | trans }}</h2> <br />

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td width="110px"><b>{{ 'trans.entity.name' | trans }}</b></td>
                <td>{{ server.name }}</td>
            </tr>

            <tr>
                <td><b>{{ 'trans.entity.status' | trans }}</b></td>
                <td>{{ SERVER_status_label(server) }}</td>
            </tr>

            <tr>
                <td><b>{{ 'trans.entity.application' | trans }}</b></td>
                <td>
                    {% if is_granted('ROLE_APPLICATION_SHOW') %}
                        <a class="btn btn-success" href="{{ path('ci_app_application_show', {application: server.application.id}) }}" role="button">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            {{ server.application }}
                        </a>

                    {% else %}
                        {{ server.application }}

                    {% endif %}
                </td>
            </tr>

            {% for config in server.serverConfig %}
                <tr>
                    <td><b>{{ config.configType.name }}</b></td>
                    <td>
                        {% if config.hidden %}
                            ~

                        {% else %}
                            {% if config.value is empty %}
                                (<b>{{ 'trans.message.inheritance' | trans }}</b>) {{ server.serverConfig(config.configType.code) }}

                            {% else %}
                                {{ config.value }}

                            {% endif %}

                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% include 'CIAppBundle::History/list.html.twig' with {'historyList': server.history} %}

{% endblock %}

{% block content_right %}
    {% include 'CIAppBundle::Server/show.upload.html.twig' %}

    {% include 'CIAppBundle::Server/show.hook.html.twig' %}

{% endblock %}

{% block actions %}
    <br />

    {% include 'CIAppBundle::Server/actions.html.twig' %}

{% endblock %}