<h2><span class="glyphicon glyphicon-paperclip"></span> {{ 'trans.title.hook' | trans }}</h2>

{% if server.serverHook(true) | length %}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr>
                <th>{{ "trans.entity.hookPositionType" | trans }}</th>
                <th>{{ "trans.entity.hookType" | trans }}</th>
                <th>{{ "trans.entity.code" | trans }}</th>

                {% if is_granted('ROLE_HOOK_RUN') %}
                    <th></th>

                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for serverHook in server.serverHook(true) %}
                <tr>
                    <td>{{ serverHook.hookPositionType }}</td>
                    <td>{{ serverHook.hookType }}</td>
                    <td>
                        {% if is_granted('ROLE_HOOK_SHOW') %}
                            <a class="btn btn-success" href="{{ path('ci_app_hook_show', {hook: serverHook.hook.id}) }}" role="button" target="_blank">
                                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                                {{ serverHook.hook }}
                            </a>

                        {% else %}
                            {{ serverHook.hook }}

                        {% endif %}
                    </td>

                    {% if is_granted('ROLE_HOOK_RUN') %}
                        <td>
                            {% if SERVER_can_run_hook(server, serverHook.hook) %}
                                <a class="btn btn-info" href="{{ path('ci_app_hook_run', {server: server.id, hook: serverHook.hook.id}) }}" role="button">
                                    <span class="glyphicon glyphicon glyphicon-send" aria-hidden="true"></span>
                                </a>


                            {% else %}
                                ~

                            {% endif %}

                        </td>

                    {% endif %}
                </tr>

            {% endfor %}

        </tbody>
    </table>

{% else %}
    {{ MESSAGE_single('info', 'trans.message.hook.list.empty') }}

{% endif %}