{% extends 'CIAppBundle::base.html.twig' %}

{% block body %}
    <h1>{% block title %}{% endblock %}</h1>

    <br />

    {% block action %}{% endblock %}

    {% if pagination.result | length %}
        <table class="table table-striped table-bordered table-hover table-condensed">
            <thead><tr>{% block thead %}{% endblock %}</tr></thead>
            <tbody>{% block tbody %}{% endblock %}</tbody>
        </table>

        {% include 'CIAppBundle::pagination.html.twig' %}

    {% else %}
        <div class="alert alert-danger">{{ "trans.pagination.empty" | trans }}</div>

    {% endif %}

{% endblock %}