{% extends 'CIAppBundle::base.html.twig' %}

{% if block_left_size is not defined %}
    {% set block_left_size = 6 %}
{% endif %}

{% if block_left_right is not defined %}
    {% set block_left_right = 6 %}
{% endif %}

{% block body %}
    <div class="row">
        {% block block_left %}
            <div class="col-xs-{{ block_left_size }}">
                {% block content_left %}{% endblock %}
            </div>

        {% endblock %}

        {% block block_right %}
            <div class="col-xs-{{ block_left_right }}">
                {% block content_right %}{% endblock %}
            </div>

        {% endblock %}
    </div>

    <div class="row">
        <div class="col-xs-6">
            {% block actions %}{% endblock %}
        </div>
    </div>

    {% if back is defined %}
        <br />

        <a title="{{ 'trans.action.back' | trans }}" href="{{ back }}" class="btn btn-info">
            <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
        </a>

    {% endif %}

{% endblock %}