{% block collection_widget %}
{% spaceless %}
    {% if prototype is defined %}
        {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
    {% endif %}
    {{ block('form_widget') }}
{% endspaceless %}
{% endblock collection_widget %}

{% block form_row %}
	{% spaceless %}
		<div class="form-group">
    		<div class="col-xs-12">
    			{{ form_label(form) }}
			</div>
			<br />
    		<div class="col-xs-12">
      			{{ form_widget(form) }}
	    		{{ form_errors(form) }}
    		</div>
  		</div>
	{% endspaceless %}
{% endblock form_row %}

{% block submit_widget %}
	<div class="form-group">
		{% if attr.login is not defined %}
	    <div class="col-sm-offset-3 col-sm-10">
	    {% endif %}
			<button type="submit" {{ block('widget_attributes') }} >{{ label | trans }}</button>
		{% if attr.login is not defined %}
    	</div>
    	{% endif %}
	</div>
{% endblock submit_widget %}

{% block field_widget %}
    {% set type = type|default('text') %}
    <input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" />
{% endblock field_widget %}

{% block datetime_widget %}
	{% spaceless %}
    	{% if widget == 'single_text' %}
	        {{ block('form_widget_simple') }}
	    {% else %}
        	<div {{ block('widget_container_attributes') }}>
	            {{ form_widget(form.date) }}
            	{{ form_widget(form.time) }}
            	{{ form_errors(form.date) }}
            	{{ form_errors(form.time) }}
        	</div>
    	{% endif %}
	{% endspaceless %}
{% endblock datetime_widget %}

{% block widget_attributes %}
	{% spaceless %}
	    id="{{ id }}" name="{{ full_name }}"{% if disabled %} disabled="disabled"{% endif %}
	    {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname in ['input_group'] %}{% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
	{% endspaceless %}
{% endblock widget_attributes %}

{% block form_errors -%}
    {% if errors|length > 0 -%}
    <ul style="padding:0 !important;list-style:none outside none !important;">
        {%- for error in errors -%}
            <li {% if loop.last == false %}style="margin-bottom:5px"{% endif %}><span class="label label-danger">{{ error.message }}</span></li>
        {%- endfor -%}
    </ul>
    {%- endif %}
{%- endblock form_errors %}
