{% extends 'CIAppBundle::root.html.twig' %}

{% block body %}
    <div class="center-block" style="width:400px;">
        <br />

        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <div class="well">
            <form action="{{ path('ci_app_login_check') }}" method="post">
                <fieldset>
                    <legend><i class="fa fa-lock" aria-hidden="true"></i> {{ 'trans.title.login'|trans }}</legend>
                    <div class="form-group">
                        <label for="username">{{ 'trans.label.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'trans.label.password'|trans }}</label>
                        <input type="password" id="password" name="_password" class="form-control" />
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'trans.action.login_in'|trans }}
                    </button>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}