{% if menu| length %}
	<ul class="dropdown-menu">
        {% for item in menu %}
			<li>
				<a href="{{ MENU_generate_route(item.item) }}">
                    {% if item.item.icon %}
						<i class="{{ item.item.icon}} "></i>
                    {% endif %}
                    {{ item.item.menuName | trans }}
				</a>
			</li>
        {% endfor %}
	</ul>

{% endif %}