{% if showServer is not defined %}
    {% set showServer = false %}
{% endif %}

{% if showApplication is not defined %}
    {% set showApplication = false %}
{% endif %}

<h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> {{ 'trans.menu.history' | trans }}</h2> <br />

{% if historyList | length %}
    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>{{ 'trans.entity.service' | trans }}</th>
            <th>{{ 'trans.entity.status' | trans }}</th>
            <th>{{ 'trans.entity.executedAt' | trans }}</th>
            <th>{{ 'trans.entity.scheduledAt' | trans }}</th>

            {% if showApplication %}
                <th>{{ 'trans.entity.application' | trans }}</th>

            {% endif %}

            {% if showServer %}
                <th>{{ 'trans.entity.server' | trans }}</th>

            {% endif %}

            {% if is_granted('ROLE_HISTORY_SHOW') %}
                <th></th>

            {% endif %}
        </tr>
        </thead>
        <tbody>
            {% for history in historyList | slice(0, 5) %}
                <tr>
                    <td><b>{{ history.queue.service | split('\\') | last }}</b></td>
                    <td>{{ QUEUE_status_label(history.queue) }}</td>
                    <td>{% if history.queue.executedAt %}{{ history.queue.executedAt | date('d/m/Y H:i:s') }}{% else %}~{% endif %}</td>
                    <td>{{ history.queue.scheduledAt | date('d/m/Y H:i:s') }}</td>

                    {% if showApplication %}
                        <td>
                            {% if is_granted('ROLE_APPLICATION_SHOW') %}
                                <a class="btn btn-success" href="{{ path('ci_app_application_show', {application: history.application.id}) }}" role="button">
                                    <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                                    {{ history.application }}
                                </a>

                                {{ APPLICATION_status_label(history.application) }}

                            {% else %}
                                {{ history.application }} {{ APPLICATION_status_label(history.application) }}

                            {% endif %}

                        </td>

                    {% endif %}

                    {% if showServer %}
                        <td>
                            {% if is_granted('ROLE_APPLICATION_SHOW') %}
                                <a class="btn btn-success" href="{{ path('ci_app_server_show', {server: history.server.id}) }}" role="button">
                                    <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                                    {{ history.server }}
                                </a>

                                {{ SERVER_status_label(history.server) }}

                            {% else %}
                                {{ history.server }} {{ SERVER_status_label(history.server) }}

                            {% endif %}

                        </td>

                    {% endif %}

                    {% if is_granted('ROLE_HISTORY_SHOW') %}
                        <td>
                            <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_history_show', {history: history.id}) }}" role="button">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </a>
                        </td>

                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    {{ MESSAGE_single('info', 'trans.message.history.list.empty') }}

{% endif %}