{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% block title_left %}{% endblock %}

{% set block_left_size = 12 %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-list" aria-hidden="true"></span> {{ 'trans.menu.history' | trans }}</h2> <br />

    <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>{{ 'trans.entity.service' | trans }}</th>
            <th>{{ 'trans.entity.status' | trans }}</th>
            <th>{{ 'trans.entity.executedAt' | trans }}</th>
            <th>{{ 'trans.entity.scheduledAt' | trans }}</th>
            <th>{{ 'trans.entity.application' | trans }}</th>
            <th>{{ 'trans.entity.server' | trans }}</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>{{ history.queue.service | split('\\') | last }}</b></td>
                <td>{{ QUEUE_status_label(history.queue) }}</td>
                <td>{% if history.queue.executedAt %}{{ history.queue.executedAt | date('d/m/Y H:i:s') }}{% else %}~{% endif %}</td>
                <td>{{ history.queue.scheduledAt | date('d/m/Y H:i:s') }}</td>
                <td>
                    {% if is_granted('ROLE_APPLICATION_SHOW') %}
                        <a class="btn btn-success" href="{{ path('ci_app_application_show', {application: history.application.id}) }}" role="button">
                            <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
                            {{ history.application }}
                        </a>

                        {{ APPLICATION_status_label(history.application) }}

                    {% else %}
                        {{ history.application }} {{ APPLICATION_status_label(history.application) }}

                    {% endif %}
                </td>
                <td>
                    {% if is_granted('ROLE_SERVER_SHOW') %}
                        <a class="btn btn-success" href="{{ path('ci_app_server_show', {server: history.server.id}) }}" role="button">
                            <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
                            {{ history.server }}
                        </a>

                        {{ SERVER_status_label(history.server) }}

                    {% else %}
                        {{ history.server }} {{ SERVER_status_label(history.server) }}

                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            {% for parameter, value in history.request %}
                <tr>
                    <td width="110px"><b>{{ parameter }}</b></td>
                    <td>{{ value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td width="110px"><b>{{ "trans.entity.response" | trans }}</b></td>
                <td><pre>{{ response }}</pre></td>
            </tr>
        </tbody>
    </table>

    {% if is_granted('ROLE_SERVER_SHOW') %}
        <a title="{{ 'trans.action.show' | trans }}" class="btn btn-success" href="{{ path('ci_app_server_show', {server: history.server.id}) }}" role="button">
            <span class="glyphicon glyphicon-hdd" aria-hidden="true"></span>
            {{ history.server }}
        </a>

    {% endif %}

{% endblock %}

{% block block_right %}
{% endblock %}