{% if show is not defined %}
    {% set show = false %}
{% endif %}

{% if show and is_granted('ROLE_USER_SHOW') %}
    <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_user_show', {user: user.id}) }}" role="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_USER_TOKEN_CREATE') %}
    <a title="{{ 'trans.action.create.user_token' | trans }}" class="btn btn-info" href="{{ path('ci_app_user_token_create', {user: user.id}) }}" role="button">
        <span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_USER_EDIT') %}
    <a title="{{ 'trans.action.edit' | trans }}" class="btn btn-info" href="{{ path('ci_app_user_edit', {user: user.id}) }}" role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_USER_DELETE') %}
    <a onclick="return confirm('{{ 'trans.message.are.you.sure.delete' | trans}}');" title="{{ 'trans.action.delete' | trans }}" class="btn btn-danger" href="{{ path('ci_app_user_delete', {user: user.id}) }}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>

{% endif %}




