{% extends 'CIAppBundle::Default/crud/create.html.twig' %}

{% block title %}{{ 'trans.menu.user' | trans }}{% endblock %}

{% set form_action = path('ci_app_user_edit', {user: user.id}) %}
{% set back = path('ci_app_user_index') %}

{% block form_right %}
    {{ form_rest(form) }}

{% endblock %}
