{% extends 'CIAppBundle::Default/crud/index.html.twig' %}

{% block title %}{{ 'trans.menu.user' | trans }}{% endblock %}

{% block action %}
    {% if is_granted('ROLE_USER_CREATE') %}
        <p>
            <a title="{{ 'trans.action.add' | trans }}" href="{{ path('ci_app_user_create') }}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </p>

        <br />

    {% endif %}

{% endblock %}


{% block thead %}
    <th>ID</th>
    <th>{{ "trans.entity.name" | trans }}</th>
    <th>{{ "trans.entity.username" | trans }}</th>
    <th>{{ "trans.entity.active" | trans }}</th>
    <th>{{ "trans.entity.createdBy" | trans }}</th>
    <th>{{ "trans.entity.updatedBy" | trans }}</th>
    <th></th>

{% endblock %}

{% block tbody %}
    {% for user in pagination.result %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.username }}</td>
            <td>{{ ('trans.message.' ~ user.active) | trans }}</td>
            <td>{{ user.createdBy }} ({{ user.createdAt | date('d/m/Y H:i:s') }})</td>
            <td>{{ user.updatedBy }} ({{ user.updatedAt | date('d/m/Y H:i:s') }})</td>
            <td>
                {% include 'CIAppBundle::User/actions.html.twig' with {show: true} %}
            </td>
        </tr>

    {% endfor %}

{% endblock %}