{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% set back = path('ci_app_user_index') %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'trans.menu.user' | trans }}</h2> <br />

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td width="120px"><b>{{ 'trans.entity.name' | trans }}</b></td>
                <td>{{ user.name }}</td>
            </tr>

            <tr>
                <td width="120px"><b>{{ 'trans.entity.username' | trans }}</b></td>
                <td>{{ user.username }}</td>
            </tr>

            <tr>
                <td width="120px"><b>{{ 'trans.entity.active' | trans }}</b></td>
                <td>{{ ('trans.message.' ~ user.active) | trans }}</td>
            </tr>

            <tr>
                <td width="110px"><b>{{ 'trans.entity.createdBy' | trans }}</b></td>
                <td>{{ user.createdBy }} ({{ user.createdAt | date('d/m/Y H:i:s') }})</td>
            </tr>

            <tr>
                <td width="110px"><b>{{ 'trans.entity.updatedBy' | trans }}</b></td>
                <td>{{ user.updatedBy }} ({{ user.updatedAt | date('d/m/Y H:i:s') }})</td>
            </tr>

            <tr>
                <td><b>{{ 'trans.entity.user_permission' | trans }}</b></td>
                <td>
                    {% for userPermission in user.userPermission %}
                        {% if is_granted('ROLE_USER_PERMISSION_SHOW') %}
                            <a href="{{ path('ci_app_user_permission_show', {userPermission: userPermission.id}) }}" role="button">
                                <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
                                {{ userPermission.name }}
                            </a>

                        {% else %}
                            {{ userPermission.name }}

                        {% endif %}

                        {% if loop.last == false %},{% endif %}
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}

{% block actions %}
    <br />

    {% include 'CIAppBundle::User/actions.html.twig' %}

{% endblock %}