{% if show is not defined %}
    {% set show = false %}
{% endif %}

{% if show and is_granted('ROLE_USER_PERMISSION_SHOW') %}
    <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_user_permission_show', {userPermission: userPermission.id}) }}" role="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_USER_PERMISSION_EDIT') %}
    <a title="{{ 'trans.action.edit' | trans }}" class="btn btn-info" href="{{ path('ci_app_user_permission_edit', {userPermission: userPermission.id}) }}" role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_USER_PERMISSION_DELETE') %}
    <a title="{{ 'trans.action.delete' | trans }}" class="btn btn-danger" href="{{ path('ci_app_user_permission_delete', {userPermission: userPermission.id}) }}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>

{% endif %}




