{% extends 'CIAppBundle::Default/crud/create.html.twig' %}

{% block title %}{{ 'trans.menu.user_permission' | trans }}{% endblock %}

{% set form_action = path('ci_app_user_permission_create') %}
{% set back = path('ci_app_user_permission_index') %}

{% block form_left %}
    <h2><span class="glyphicon glyphicon-th-list"></span> {{ 'trans.title.properties' | trans }}</h2>

    {{ form_rest(form) }}

{% endblock %}
