{% extends 'CIAppBundle::Default/crud/create.html.twig' %}

{% block title %}{{ 'trans.menu.user_permission' | trans }}{% endblock %}

{% set form_action = path('ci_app_user_permission_edit', {userPermission: userPermission.id}) %}
{% set back = path('ci_app_user_permission_index') %}

{% block form_right %}
    {{ form_rest(form) }}

{% endblock %}
