{% extends 'CIAppBundle::Default/crud/index.html.twig' %}

{% block title %}{{ 'trans.menu.user_permission' | trans }}{% endblock %}

{% block action %}
    {% if is_granted('ROLE_USER_PERMISSION_CREATE') %}
        <p>
            <a title="{{ 'trans.action.add' | trans }}" href="{{ path('ci_app_user_permission_create') }}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </p>

        <br />

    {% endif %}

{% endblock %}


{% block thead %}
    <th>ID</th>
    <th>{{ "trans.entity.name" | trans }}</th>
    <th></th>

{% endblock %}

{% block tbody %}
    {% for userPermission in pagination.result %}
        <tr>
            <td>{{ userPermission.id }}</td>
            <td>{{ userPermission.name }}</td>
            <td>
                {% include 'CIAppBundle::UserPermission/actions.html.twig' with {show: true} %}
            </td>
        </tr>

    {% endfor %}

{% endblock %}