{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% set back = path('ci_app_user_permission_index') %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> {{ 'trans.menu.user_permission' | trans }}</h2> <br />

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td width="120px"><b>{{ 'trans.entity.name' | trans }}</b></td>
                <td>{{ userPermission.name }}</td>
            </tr>

            <tr>
                <td><b>{{ 'trans.entity.user_action' | trans }}</b></td>
                <td>
                    {% for userAction in userPermission.userAction %}
                        {{ userAction.name }}
                        {% if loop.last == false %}<br />{% endif %}
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

{% endblock %}

{% block actions %}
    <br />

    {% include 'CIAppBundle::UserPermission/actions.html.twig' %}

{% endblock %}