server "{{ user }}@{{ ip }}", ssh_options: {
    forward_agent: true,
    auth_methods: ["publickey"],
    keys: ["{{ key }}"]
}

set :branch, "{{ branch }}"
set :deploy_to, "{{ deploy_to }}"

{% for upload in uploads %}
after "deploy:updated", "{{ upload.uploadName }}"
{% endfor %}

after "git:update", "git_log_{{ server.id }}"

{% for hook in hooks %}
{{ hook.hookPositionType.name }} "{{ hook.hookType.name }}", "server_hook_{{ hook.hook.id }}_{{ server.id }}"
{% endfor %}