{% for hook in hooks %}
desc "{{ hook.hook.name }}"
task :server_hook_{{ hook.hook.id }}_{{ server.id }} do
  on roles(:all) do
    {{ hook.hook.code | raw }}
  end
end

{% endfor %}

{% for upload in uploads %}
desc "Upload {{ upload.targetPath }}"
task :{{ upload.uploadName }} do
  on roles(:all) do
    upload! "{{ upload_path ~ upload.uploadName }}", "#{release_path}/{{ upload.targetPath | replace({'..':''})  }}"
  end
end

{% endfor %}

desc "GIT Log"
task :git_log_{{ server.id }} do
  on roles(:all) do
    execute "cd #{repo_path} && log=`git log {{ branch }} -1 --pretty=format:'gitlog: %h;%an;%ad;%s' --date=iso`;echo $log;"
  end
end