{% if show is not defined %}
    {% set show = false %}
{% endif %}

{% if show and is_granted('ROLE_USER_TOKEN_SHOW') %}
    <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_user_token_show', {userToken: userToken.id}) }}" role="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_USER_TOKEN_EDIT') %}
    <a title="{{ 'trans.action.edit' | trans }}" class="btn btn-info" href="{{ path('ci_app_user_token_edit', {userToken: userToken.id}) }}" role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_USER_TOKEN_DELETE') %}
    <a title="{{ 'trans.action.delete' | trans }}" class="btn btn-danger" href="{{ path('ci_app_user_token_delete', {userToken: userToken.id}) }}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>

{% endif %}




