{% extends 'CIAppBundle::Default/crud/create.html.twig' %}

{% block title %}{{ 'trans.menu.user_token' | trans }}{% endblock %}

{% set form_action = path('ci_app_user_token_edit', {userToken: userToken.id}) %}
{% set back = path('ci_app_user_token_index') %}

{% block form_right %}
    {{ form_rest(form) }}

{% endblock %}
