{% extends 'CIAppBundle::Default/crud/index.html.twig' %}

{% block title %}{{ 'trans.menu.user_token' | trans }}{% endblock %}

{% block thead %}
    <th>ID</th>
    <th>{{ "trans.entity.user" | trans }}</th>
    <th>{{ "trans.entity.active" | trans }}</th>
    <th>{{ "trans.entity.expiresAt" | trans }}</th>
    <th>{{ "trans.entity.createdBy" | trans }}</th>
    <th>{{ "trans.entity.updatedBy" | trans }}</th>
    <th></th>

{% endblock %}

{% block tbody %}
    {% for userToken in pagination.result %}
        <tr>
            <td>{{ userToken.id }}</td>
            <td>
                {% if is_granted('ROLE_USER_SHOW') %}
                    <a href="{{ path('ci_app_user_show', {user: userToken.user.id}) }}" role="button">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ userToken.user }}
                    </a>

                {% else %}
                    {{ userToken.user }}

                {% endif %}
            </td>
            <td>{{ ('trans.message.' ~ userToken.isActive) | trans }}</td>
            <td>{% if userToken.expiresAt %}{{ userToken.expiresAt | date('d/m/Y') }}{% else %}-{% endif %}</td>
            <td>{{ userToken.createdBy }} ({{ userToken.createdAt | date('d/m/Y H:i:s') }})</td>
            <td>{{ userToken.updatedBy }} ({{ userToken.updatedAt | date('d/m/Y H:i:s') }})</td>
            <td>
                {% include 'CIAppBundle::UserToken/actions.html.twig' with {show: true} %}
            </td>
        </tr>

    {% endfor %}

{% endblock %}