{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% set back = path('ci_app_user_index') %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ 'trans.menu.user' | trans }}</h2> <br />

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td width="120px"><b>{{ 'trans.entity.user' | trans }}</b></td>
                <td>
                    {% if is_granted('ROLE_USER_SHOW') %}
                        <a href="{{ path('ci_app_user_show', {user: userToken.user.id}) }}" role="button">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {{ userToken.user }}
                        </a>

                    {% else %}
                        {{ userToken.user }}

                    {% endif %}
                </td>
            </tr>

            <tr>
                <td width="120px"><b>{{ 'trans.entity.active' | trans }}</b></td>
                <td>{{ ('trans.message.' ~ userToken.isActive) | trans }}</td>
            </tr>

            <tr>
                <td width="110px"><b>{{ 'trans.entity.expiresAt' | trans }}</b></td>
                <td>{% if userToken.expiresAt %}{{ userToken.expiresAt | date('d/m/Y') }}{% else %}-{% endif %}</td>
            </tr>

            <tr>
                <td width="120px"><b>{{ 'trans.entity.token' | trans }}</b></td>
                <td>{{ userToken.token }}</td>
            </tr>

            <tr>
                <td width="110px"><b>{{ 'trans.entity.createdBy' | trans }}</b></td>
                <td>{{ userToken.createdBy }} ({{ userToken.createdAt | date('d/m/Y H:i:s') }})</td>
            </tr>

            <tr>
                <td width="110px"><b>{{ 'trans.entity.updatedBy' | trans }}</b></td>
                <td>{{ userToken.updatedBy }} ({{ userToken.updatedAt | date('d/m/Y H:i:s') }})</td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block actions %}
    <br />

    {% include 'CIAppBundle::UserToken/actions.html.twig' %}

{% endblock %}