{% if show is not defined %}
    {% set show = false %}
{% endif %}

{% if show and is_granted('ROLE_HOOK_SHOW') %}
    <a title="{{ 'trans.action.show' | trans }}" class="btn btn-info" href="{{ path('ci_app_hook_show', {hook: hook.id}) }}" role="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_HOOK_EDIT') %}
    <a title="{{ 'trans.action.edit' | trans }}" class="btn btn-info" href="{{ path('ci_app_hook_edit', {hook: hook.id}) }}" role="button">
        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
    </a>

{% endif %}

{% if is_granted('ROLE_HOOK_DELETE') %}
    <a onclick="return confirm('{{ 'trans.message.are.you.sure.delete' | trans}}');" title="{{ 'trans.action.delete.hook' | trans }}" class="btn btn-danger" href="{{ path('ci_app_hook_delete', {hook: hook.id}) }}" role="button">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>

{% endif %}


