{% extends 'CIAppBundle::Default/crud/create.html.twig' %}

{% block title %}<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> {{ 'trans.menu.hook' | trans }}{% endblock %}

{% set form_action = path('ci_app_hook_edit', {hook: hook.id}) %}
{% set back = path('ci_app_hook_index') %}

{% block form_left %}
    {{ form_row(form.name) }}
    {{ form_row(form.code) }}

{% endblock %}

{% block form_right %}
    <br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'trans.title.example' | trans }}</h3>
        </div>
        <div class="panel-body">
            <pre>execute "php #{release_path}/bin/console doctrine:migrations:migrate --env=prod --no-interaction"</pre>

            <pre>execute "php #{release_path}/bin/console assetic:dump --env=prod --no-debug"</pre>
        </div>
    </div>

{% endblock %}