{% extends 'CIAppBundle::Default/crud/index.html.twig' %}

{% block title %}{{ 'trans.menu.hook' | trans }}{% endblock %}

{% block action %}
    {% if is_granted('ROLE_HOOK_CREATE') %}
        <p>
            <a title="{{ 'trans.action.add' | trans }}" href="{{ path('ci_app_hook_create') }}" class="btn btn-primary" role="button">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </a>
        </p>

        <br />

    {% endif %}

{% endblock %}


{% block thead %}
    <th>ID</th>
    <th>{{ "trans.entity.name" | trans }}</th>
    <th>{{ "trans.entity.createdBy" | trans }}</th>
    <th>{{ "trans.entity.updatedBy" | trans }}</th>
    <th></th>

{% endblock %}

{% block tbody %}
    {% for hook in pagination.result %}
        <tr>
            <td>{{ hook.id }}</td>
            <td>{{ hook.name }}</td>
            <td>{{ hook.createdBy }} ({{ hook.createdAt | date('d/m/Y H:i:s') }})</td>
            <td>{{ hook.updatedBy }} ({{ hook.updatedAt | date('d/m/Y H:i:s') }})</td>
            <td>
                {% include 'CIAppBundle::Hook/actions.html.twig' with {show: true} %}
            </td>
        </tr>

    {% endfor %}

{% endblock %}