{% extends 'CIAppBundle::Default/crud/show.html.twig' %}

{% set back = path('ci_app_hook_index') %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span> {{ 'trans.menu.hook' | trans }}</h2> <br />

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            <tr>
                <td width="110px"><b>{{ 'trans.entity.name' | trans }}</b></td>
                <td>{{ hook.name }}</td>
            </tr>

            <tr>
                <td><b>{{ 'trans.entity.code' | trans }}</b></td>
                <td><pre>{{ hook.code }}</pre></td>
            </tr>
        </tbody>
    </table>

{% endblock %}

{% block actions %}
    <br />

    {% include 'CIAppBundle::Hook/actions.html.twig' %}

{% endblock %}