.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

h1, h1, h3, h4, h5, h6 {
    margin-top:0;
}

.pagination {
    margin-bottom:0;
}

.hide {
    display: none;
}
